<html>
 <head>
  <meta charset="utf-8" />
  <title></title>
  <style>
   .Title{display: flex;align-items: center;justify-content: center;height: 100px;width: 100%;}
   h1{align-items: center;justify-content: center}
    table {font-family: monospace;white-space: pre;border: 1px solid grey;} 
    th {text-align: start;border: 1px solid grey;}
    td {border: 1px solid grey;} 
  </style>
 </head>
 <body>
  <div class="Title">
      <h1>API</h1>
  </div>
  <table>
    <tr><th>адрес</th><th>тип запроса</th><th>параметр</th><th>результат</th><th>описание</th><th>Требуется авторизация?</th></tr>
    <% mas.forEach(function(item){ %> 
<tr>
<th><%=item.url%>
</th>
<th><%=item.type%>
</th>
<th><%=item.param%>
</th>
<th><%=item.result%>
</th>
<th><%=item.description%>
</th>
<th><%=item.singIn%>
</th>
</tr>
    <%})%>
    </table>
 <pre>
     Пример структуры!
{
    "_id" : ObjectId("5c5b198363df3720245bf187"),
    "slider_1" : {
        "slides" : [
            {
                "hoverTxt" : [
                    "fasfafs"
                ],
                "_id" : ObjectId("5c5b19edd4c8cd2deca2a07e"),
                "Name" : "asfsa",
                "type1" : "fafasfasf",
                "id" : 1
            }
        ]
    },
    "slider_2" : {
        "slides" : []
    },
    "slider_3" : {
        "slides" : []
    },
    "slider_4" : {
        "slides" : []
    },
    "slider_5" : {
        "slides" : []
    },
    "slider_6" : {
        "slides" : []
    },
    "slider_7" : {
        "slides" : []
    },
    "mainImg" : "/files//5c5b198363df3720245bf187.jpeg",
    "text" : [],
    "coordinates" : [
        "1",
        "4"
    ],
    "schoolNear" : [],
    "type" : "asd",
    "mainTitle" : "школа 18",
    "address" : "мурысева",
    "area" : 0
}
 </pre>
 </body>
</html>